[Desktop Entry]
#Version=1.0
Exec=bash -c "cd /home/wajda/huion-linux-drivers; sudo ./huion-tablet-driver.py"
Name=HUION Tablet Driver
Icon=/home/wajda/huion-linux-drivers/huion-logo.png
Encoding=UTF-8
Terminal=false
Type=Application
Categories=Application;

