[Desktop Entry]
#Version=1.0
Exec=bash -c "cd /opt/huion-linux-drivers; sudo python ./huion-tablet-driver.py"
Name=HUION Tablet Driver
Icon=/opt/huion-linux-drivers/huion-logo.png
Encoding=UTF-8
Terminal=false
Type=Application
Categories=Application;
